<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>4920 Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Search all items</description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>main.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Display all items in a category</description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>main.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Display information about an item</description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>main.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Attempt to make a bid</description>
    <display-name>MakeBid</display-name>
    <servlet-name>MakeBid</servlet-name>
    <servlet-class>main.MakeBid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeBid</servlet-name>
    <url-pattern>/makeBid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>servlets.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayPalTest</display-name>
    <servlet-name>PayPalTest</servlet-name>
    <servlet-class>main.PayPalTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayPalTest</servlet-name>
    <url-pattern>/PayPalTest</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>main.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>main.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/showUser</url-pattern>
  </servlet-mapping>
</web-app>